<div class="container">
    <div class="row">
        <div class="tarea">
            <div class="mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3" id="description">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <img src="" alt="">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>