
* {
    padding: 0;
    margin: 0;
    margin-bottom: border sinzin;
}

.formulario {
    background-color: lightsalmon;
    border: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 20px;
}

#iddescription{
    padding: 10px;
    height: 30px;
}